header {
    height: 70px ;
    align-items: center;
    display: flex;
    background-color: var(--color-nav);
}

.dsmovie-nav-content h1 {
    margin-bottom: 0;
}

.dsmovie-nav-content {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.dsmovie-contact-container {
    display: flex;
    
}

.dsmovie-nav-content a {
    text-decoration: none;
    color: white
}

.dsmovie-contact-container p {
    margin-bottom: 0;
    color:white;
}

